@keyframes spin-coin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  .animate-spin-coin {
    animation: spin-coin 4s infinite linear;
  }
  i{
    font-style: italic;
    font-size:2rem;
    color:#8c8c8c;
  }
  
  #wtf{
    font-size:4rem;
    color:#8c8c8c;
  }
  #utf{
    /* color:#8c8c8c; */
    color:white;
    font-style: italic;
    font-size:4rem;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .coin-edge .edge {
    position: absolute;
    top: 50%;
    left: 0;
    transform-origin: center;
    /* Thickness */
    height: 40px; 
    
  }