.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    margin: auto;
    position: relative;
  }
  
  .carousel-content {
    overflow: hidden;
    width: 400px;
    display: flex;
    justify-content: center;
  }
  
  .carousel-item {
    display: none;
    width: 400%;
    flex-shrink: 0;
    text-align: center;
  }
  
  .carousel-item.active {
    display: block;
  }
  
  .carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
  }