.gradient-text {
  background: linear-gradient(to left, #A32CC4, #FCBA04); /* Your gradient colors */
  -webkit-background-clip: text; /* For Safari */
  background-clip: text; /* For other browsers */
  color: transparent; /* Make the text color transparent */
  /* font-size: 48px; Adjust as needed */
  font-weight: bold; /* Adjust as needed */
}

.bg{
  background: linear-gradient(to right, #A32CC4, #FCBA04);
}